* {
    margin: 0;
    padding: 0;
}

/*--------------------------------------------------------------------
 * Sticky footer
 * http://www.lwis.net/journal/2008/02/08/pure-css-sticky-footer/
 */

html, body, .site { height: 100%; }
body > .site { height: auto; min-height: 100%; }
.footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}
.site_content { padding-bottom: 3em; }

/*--------------------------------------------------------------------
 * Basic formatting
 */

body {
    background-color: #a0a0a0;
    background-image: url('/images/imperial-logo-396-306.png');
    background-repeat: no-repeat;
    font: 15px Calibri, helvetica, arial, clean, sans-serif;
    /**font-size: small;*/
    text-align: center;
}

.site_content { padding-top: 20px; }

.body_separator { padding-top: 20px; }

.body {
    background: white;
    border: 2px solid #222;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-left: 200px;
    margin-right: 16px;
    text-align: left;
}

.body h1 {
    font-size: 150%;
    padding-top: 20px;
}

.body h2 {
    font-size: 130%;
    padding-top: 20px;
    margin-left: 16px;
}

.body h3 {
    font-size: 110%;
    padding-top: 20px;
    margin-left: 24px;
}

.body p {
    padding-top: 8px;
    margin-left: 32px;
}

.body code {
    font-size: 80%;
    /*
    padding: 2px;
    border: 1px solid #808080;
    background-color: #e0e0e0;
    */
}

.body pre {
    font-size: 80%;
    margin-top: 8px;
    margin-left: 32px;
    padding: 8px;
    border: 1px solid #808080;
    background-color: #e0e0e0;
}

.body ul {
    padding-top: 8px;
    margin-left: 64px;
}

.body ul ul {
    padding-top: 2px;
    margin-left: 32px;
}

.body ol {
    padding-top: 8px;
    margin-left: 64px;
}

.body li {
    padding-top: 2px;
}

.body li p {
    margin-left: 0px;
}

.body img {
    border: 0px none;
}

.displace {
    position: absolute;
    left: -5000px;
}

.body .postdate {
    color: #888;
    font-size: 80%;
    text-align: center;
    padding-top: 10px;
    margin-bottom: -10px;
}

.footer .copyright {
    padding-top: 1.5em;
    color: #444;
    font-size: 80%;
}

/*--------------------------------------------------------------------
 * Citations
 */

.reference {
    padding-top: 8px;
    margin-left: 0px;
}

.reference .citation_number {
    float: left;
    width: 64px;
    text-align: center;
}

.reference .citation {
    margin-left: 64px;
    margin-right: 52px;
}

.reference .note {
    margin-left: 64px;
    margin-right: 52px;
    padding-top: 8px;
    color: #444;
    font-style: italic;
}

.reference .details {
    float: right;
    margin-top: -10px;
    width: 52px;
}

.reference .details a {
    display: block;
    width: 52px;
    height: 52px;
    text-decoration: none;
    background-image: url(/images/mag.png);
}

.reference .details a:hover {
    display: block;
    width: 52px;
    height: 52px;
    text-decoration: none;
    background-image: url(/images/mag-shadow.png);
}

/*--------------------------------------------------------------------
 * Download icons
 */

.downloads {
    margin-left: 16px;
}

.downloads .pdf {
    display: inline;
}

.downloads .pdf a {
    display: block;
    width: 70px;
    height: 77px;
    text-decoration: none;
    background-image: url(/images/icon-pdf.png);
}

.downloads .pdf a:hover {
    display: block;
    width: 70px;
    height: 77px;
    text-decoration: none;
    background-image: url(/images/icon-pdf-shadow.png);
}

/*--------------------------------------------------------------------
 * Left column
 */

.left {
    float: left;
    width: 200px;
}

/*--------------------------------------------------------------------
 * Navigation bar
 */

.leftnav {
    padding-top: 300px;
}

.leftnav p {
    margin-top: 2px;
    margin-bottom: 2px;
}

.leftnav a {
    font-size: 16px;
    font-weight: bold;
    color: #444;
    text-decoration: none;
}

.leftnav a:hover {
    color: #ccc;
}

/*--------------------------------------------------------------------
 * Posts list
 */

#posts ul {
    margin-left: 16px;
    list-style-type: none;
}

#posts ul span {
    color: #aaa;
    font-family: Consolas, Monaco, "Courier New", monospace;
    font-size: 80%;
}
