#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

compile '/htaccess.*' do
  filter :erb
  write '/.htaccess'
end

compile '/keybase.*' do
  write '/.well-known/keybase.txt'
end

compile '/media/**/*' do
  # don’t filter or layout
  write item.identifier
end

compile '/atom.*' do
  filter :erb
  write '/atom.xml'
end

compile '/index.html' do
  filter :erb, :trim_mode => '-'
  layout '/default.html'
  write item.identifier
end

compile '/**/*' do
  if item.binary?
    # don’t filter binary items
    write item.identifier
  else
    case item[:extension]
      when 'c'
        filter :rocco,
          :template_file => 'lib/rocco/template.html',
          :language => 'c'
        layout 'rocco'

      when 'markdown'
        filter :erb, :trim_mode => '-'
        filter :kramdown
        layout (item[:layout] or 'default')

      else
        filter :erb, :trim_mode => '-'
        layout (item[:layout] or 'default')
    end
    write item.identifier.without_ext + '/index.html'
  end
end

compile '/404.*' do
  write '/404.html'
end

layout '/**/*', :erb, :trim_mode => '-'
