#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

compile '/**/index.html' do
  filter :erb, :trim_mode => '-'
  layout '/default.html'
  write item.identifier
end

compile '/**/*.gv' do
  filter :dot
  write item.identifier.without_ext + '.png'
end

compile '/**/*.html' do
  filter :erb, :trim_mode => '-'
  layout (item[:layout] or '/default.html')
  write item.identifier.without_ext + '/index.html'
end

compile '/**/*.markdown' do
  filter :erb, :trim_mode => '-'
  filter :kramdown
  layout (item[:layout] or '/default.html')
  write item.identifier.without_ext + '/index.html'
end

compile '/**/.htaccess' do
  write item.identifier
end

compile '/.well-known/**/*' do
  write item.identifier
end

compile '/**/*' do
  if not item.binary?
    filter :erb, :trim_mode => '-'
  end
  write item.identifier
end

layout '/**/*', :erb, :trim_mode => '-'
