---
title: Home
layout: default
---

<ul class="summaries">

  <% sorted_articles.reject { |a| a[:draft] }.first(10).each do |article| %>
    <li class="summary">
      <div class="date"><%= date_ymd(article[:created_at]) %></div>
      <h1><a href="<%= article.path %>"><%= article[:title] %></a></h1>
      <%= article.summarize %>
      <div class="link">
        <a href="<%= article.path %>">
          Continue reading <span class="glyphicon glyphicon-share-alt"></span>
        </a>
      </div>
    </li>
  <% end %>

</ul>
