{{ define "main" }}
<ul class="summaries">

  {{ range .Site.RegularPages }}
    <li class="summary">
      <div class="date">{{ .Date.Format "2006-01-02" }}</div>
      {{ if .Params.series }}
      <h2 class="series"><a href="{{ .Permalink }}">{{ .Params.series }}</a></h2>
      {{ end }}
      <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
      {{ .Summary }}
      <div class="link">
        <a href="{{ .Permalink }}">
          Continue reading <span class="glyphicon glyphicon-share-alt"></span>
        </a>
      </div>
    </li>
  {{ end }}

</ul>
{{ end }}
