<!doctype html>
<html lang="en">
<head>
  <%= render '/title.html' %>
  <%= render '/links.html' %>
</head>

<body>
  <div class="container">
    <%= render '/topnav.html' %>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="blog">
          <div class="date">
            <%= date_ymd(@item[:created_at]) %>
            <%- if @item[:updated_at] -%>
            <span class="updated">
              [last updated <%= date_ymd(@item[:updated_at]) %>]
            </span>
            <%- end -%>
          </div>
          <%- if @item[:series] -%>
          <h2 class="series"><%= @item[:series] %></h2>
          <%- end -%>
          <h1><%= @item[:title] %></h1>
          <%- if @item[:prev]
                prev_item = @items[@item[:prev]] -%>
          <p class="prev"><%= link_to(prev_item[:title], prev_item) %></p>
          <%- end -%>
          <%= yield %>
          <%- if @item[:next]
                next_item = @items[@item[:next]] -%>
          <p class="next"><%= link_to(next_item[:title], next_item) %></p>
          <%- end -%>
          <div class="subscribe">
            Stay up to date by subscribing to <a
               href="https://tinyletter.com/dcreager/">my newsletter</a>.
          </div>
        </div>
      </div>
    </div> <!-- /row -->
  </div> <!-- /container -->

  <%= render '/foot.html' %>
  <%= render '/js.html' %>
</html>
