<!doctype html>
<html lang="en">
<head>
  <%= render 'title' %>
  <%= render 'links' %>
</head>

<body>
  <div class="container">
    <%= render 'topnav' %>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="blog">
          <div class="date"><%= date_ymd(@item[:created_at]) %></div>
          <%- if @item[:series] -%>
          <h2 class="series"><%= @item[:series] %></h2>
          <%- end -%>
          <h1><%= @item[:title] %></h1>
          <%- if @item[:prev]
                prev_item = @items[@item[:prev]] -%>
          <p class="prev"><%= link_to(prev_item[:title], prev_item) %></p>
          <%- end -%>
          <%= yield %>
          <%- if @item[:next]
                next_item = @items[@item[:next]] -%>
          <p class="next"><%= link_to(next_item[:title], next_item) %></p>
          <%- end -%>
        </div>
      </div>
    </div> <!-- /row -->
  </div> <!-- /container -->

  <%= render 'foot' %>
  <%= render 'js' %>
</html>
