<!doctype html>
<html lang="en">
<head>
  <%= render 'title' %>
  <%= render 'links' %>
</head>

<body>
  <div class="container">
    <%= render 'topnav' %>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="blog">
          <div class="date"><%= date_ymd(@item[:created_at]) %></div>
          <h1><%= @item[:title] %></h1>
          <%= yield %>
          <%= render 'moot' %>
        </div>
      </div>
    </div> <!-- /row -->
  </div> <!-- /container -->

  <%= render 'foot' %>
  <%= render 'js' %>
</html>
