<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand logo" href="/"><b>dcreager.net</b></a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <%= navbar_link "About", "/about/" %></li>
          <%= navbar_link "Archive", "/archive/" %></li>
          <%= navbar_link "Digital garden", "https://notes.dcreager.net/" %></li>
          <%= navbar_link "Talks", "/talks/" %></li>
          <%= navbar_link "Publications", "/publications/" %></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
  </div>
</div>
