# ensure HTTPS
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# HSTS!
Header set Strict-Transport-Security "max-age=31536000" env=HTTPS

# NEL!
Header set Report-To "{\"group\": \"nel\", \"max-age\": 86400, \"include-subdomains\": true, \"endpoints\": [{\"url\": \"https://dcreager.net/upload-nel/alpha/\", \"priority\": 1, \"weight\": 2}, {\"url\": \"https://dcreager.net/upload-nel/error/\", \"priority\": 1, \"weight\": 3}]}" env=HTTPS
Header append Report-To "{\"group\": \"other\", \"max-age\": 86400, \"include-subdomains\": true, \"endpoints\": [{\"url\": \"https://dcreager.net/upload-nel/gamma/\", \"priority\": 1, \"weight\": 2}]}" env=HTTPS
Header set NEL "{\"report-to\": \"nel\", \"max-age\": 600, \"include-subdomains\": true, \"success-fraction\": 1.0, \"failure-fraction\": 1.0}" env=HTTPS
RewriteRule ^upload-nel/error(.*)$ - [L,R=400]
RewriteRule ^upload-nel/(.*)$ - [L,R=204]

# Lets Encrypt support
RewriteRule ^.well-known/(.*)$ - [L]

Redirect 301 /2013/01/07/intro-to-csp/ /2014/01/07/intro-to-csp/

Redirect 301 /2016/07/csp-concurrency-intro/ /csp-concurrency/intro/
Redirect 301 /2016/08/csp-concurrency-prelims/ /csp-concurrency/prelims/
Redirect 301 /2016/09/csp-read-atomic-internal/ /csp-concurrency/read-atomic-internal/

Redirect 301 /2016/11/hst-intro/ /hst/intro/
Redirect 301 /2016/11/refinement-overview/ /hst/refinement-overview/
Redirect 301 /2016/11/semantic-methods/ /hst/semantic-methods/
Redirect 301 /2017/01/lazy-processes/ /hst/lazy-processes/
