# ensure HTTPS
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# HSTS!
Header set Strict-Transport-Security "max-age=31536000" env=HTTPS

# Lets Encrypt support
RewriteRule ^.well-known/(.*)$ - [L]

Redirect 301 /2013/01/07/intro-to-csp/ /2014/01/07/intro-to-csp/

Redirect 301 /2016/07/csp-concurrency-intro/ /csp-concurrency/intro/
Redirect 301 /2016/08/csp-concurrency-prelims/ /csp-concurrency/prelims/
Redirect 301 /2016/09/csp-read-atomic-internal/ /csp-concurrency/read-atomic-internal/

Redirect 301 /2016/11/hst-intro/ /hst/intro/
Redirect 301 /2016/11/refinement-overview/ /hst/refinement-overview/
Redirect 301 /2016/11/semantic-methods/ /hst/semantic-methods/
Redirect 301 /2017/01/lazy-processes/ /hst/lazy-processes/
